<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PRT Token Generator</title>
</head>
<body>
    <script>
        function copy_clipboard(selection)
        {
            var value_copy = ""
            if(selection == 0)
            {
                value_copy = document.getElementById("dummy_uri");
            }
            if(selection == 1)
            {
                value_copy = document.getElementById("dummy_token");
            }
            if(selection == 2)
            {
                value_copy = document.getElementById("valid_token");
            }

            value_copy.select();
            value_copy.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            navigator.clipboard.writeText(value_copy.value);
        }
    </script>
    <H1>PRT Token GENERATOR</H1>
    <p>This only works with Chrome browser</p>
    <H2>IMPORTANT</H2>
    <p>Make sure you create your Dummy URL with your tenant id or it wont work</p>
    <p>1. Copy the Dummy URL and paste it to the Chrome browser.</p>
    <br/>
    <input type="text" readonly value="{{ dummy_uri }}" id="dummy_uri">
    <button name="copy_clickboard" onclick="copy_clipboard(0);">Copy to Clipboard</button>
    <br />
    <p>2. When you access delete all the cookies and create a cookie with the following properties</p>
    <ul>
        <li>Name: x-ms-RefreshTokenCredential</li>
        <li>Set Http Only</li>
        <li>Value: Textbox bellow</li>
    </ul>
    <textarea id="dummy_token">{{ dummy_token }}</textarea>
    <button name="copy_clickboard" onclick="copy_clipboard(1);">Copy to Clipboard</button>
    <form action="" method="POST">
        <p>3. While enter, the Login URL will change,put the new URL here</p>
        <input type="text" name="new_uri">
        <br />
        <input type="submit" value="Generate new token">
    </form>
    <p>4. Change the value of cookie x-ms-RefreshTokenCredential to this new value</p>
    <textarea id="valid_token">{{ new_token }}</textarea>
    <button name="copy_clickboard" onclick="copy_clipboard(2);">Copy to Clipboard</button>
    <p>5. Complete the MFA and you are DONE!</p>

    <H2>Troubleshoots:</H2>
    <p>While login with Teams, maybe it shows an error regarding to enable third party cookies or something weird.</p>
    <p>To solve this, click on the signout button and login again, don't worry, while login back the PRT generated token
    will be used so there is no need to generate the token again.</p>
</body>
</html>